body {
    background: #1e1f24;
    color: rgb(29, 31, 31);
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#header {
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#header #logo {
    width: 80px;
    vertical-align: middle;
}

#header #tagline {
    margin:  0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}


#container
{
    
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {

    font-size: 20px;
}

#post {
    background: white;
    padding: 1em;

}

#footer {
    background: rgb(117, 116, 116);
    color: white;
    text-align: center;
    padding: 0.5em;
}